.with-bkg-img {
	/* position: relative; (not sure if needed) */
	/* to keep background centered and covering width*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	/* for fixed responsive height */
	display: flex;
	min-height: 50vh; /* 50% of page */
	flex-direction: column;
	/* cancel out jumbotron margin-bottom*/
	margin-bottom: 0;
	/* keep text center-aligned */
	text-align: center;
}

.alishan {
	background-image: url('../images/alishan.jpg');
}

.alishan h1, .alishan p {
	color: #eee;
	text-shadow: 0 0 3px #000;
}

.tw-mountains {
	background-image: url('../images/tw-mountains.jpg');
	/*background: linear-gradient(to bottom right, #e07f02, #1a507d);*/
}

.tw-mountains h1, .tw-mountains p {
	color: #eee;
	text-shadow: 0 0 3px #444;
}